@mixin background_buttons {
  background-color: cadetblue;
}
@mixin background {
  background-image: url(../images/estrellas.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 0px;
}
@mixin cesped {
  width: 150px;
  height: 70px;
  margin-bottom: 300px;
}
@mixin yoda {
  width: 90px;
  height: 90px;
  margin-top: 300px;
}
@mixin images {
  width: 30px;
  height: 30px;
  z-index: 1;
}
