@mixin background_buttons {
  background-color: cadetblue;
}
@mixin background {
  background-image: url(../images/estrellas.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 0px;
}
