.grid {
  display: grid;

  grid-template-columns: repeat(6, 16px);
  grid-template-rows: 50%, 50%;
  background-color: pink;

  gap: 30px;
}

.yoda1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  grid-column: 1/2;
  grid-row: 1/2;
}
.yoda2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  grid-column: 2/3;
  grid-row: 2/3;
}

.yoda3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  grid-column: 1/2;
  grid-row: 3/4;
}
.yoda4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  grid-column: 2/3;
  grid-row: 4/5;
}

.yoda5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  grid-column: 1/2;
  grid-row: 5/6;
}
.yoda6 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  grid-column: 2/3;
  grid-row: 6/7;
}

.cesped1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 70px;
  grid-column: 2/3;
  grid-row: 1/2;
}
.cesped2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 70px;
  grid-column: 2/3;
  grid-row: 2/3;
}
.cesped3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 70px;
  grid-column: 2/3;
  grid-row: 3/4;
}
.cesped4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 70px;
  grid-column: 2/3;
  grid-row: 4/5;
}
.cesped5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 70px;
  grid-column: 2/3;
  grid-row: 5/6;
}
.cesped6 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 70px;
  grid-column: 2/3;
  grid-row: 6/7;
}

// .dado {
//   //background-image: url("../images/dado_pres.png");
// }

.images_galletas {
  width: 60px;
  height: 60px;
}
.images_huevo {
  width: 60px;
  height: 60px;
}
.images_rana {
  width: 60px;
  height: 60px;
}
.vasija1 {
  display: flex;
  justify-content: center;
  width: 300px;
  //margin-right: 800px;
  //margin-bottom: 00px;
  position: absolute;
  //position: 100px;
  top: 200px;
  left: 1080px;
}
.vasija2 {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-top: 400px;
  //margin-bottom: 00px;
  position: absolute;
  //position: 100px;
  top: 200px;
  left: 1080px;
}
.vasija3 {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-top: 200px;
  margin-right: 100px;
  //margin-bottom: 00px;
  position: absolute;
  //position: 100px;
  top: 200px;
  left: 1080px;
}

.armario {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 500px;
}

.hidden {
  visibility: hidden;
}
