@import "./core/mixins.scss";
@import "./core/variables.scss";

.arrow {
  @include arrow;
}
.dice {
}
.dice_imagen {
  width: 100px;
  height: 80px;
  border: 5px solid whitesmoke;
  //padding: 20px 20px;
  box-shadow: 0px 0px 80px;
  animation: infinite resplandorAnimation 1s;
}
@keyframes resplandorAnimation {
  0%,
  100% {
    box-shadow: 0px 0px 80px;
  }
  50% {
    box-shadow: 0px 0px 0px;
  }
}

.background_game {
  @include background;
}
.grid {
  display: grid;
  grid-template-columns: repeat(9, 100px);
  grid-template-rows: auto, auto, auto;

  justify-content: space-between;
  grid-gap: 60px;
}

.grogu {
  border: 5px solid yellowgreen;
  //border: white 10px solid;
  box-shadow: 0px 0px 20px;
  animation: infinite resplandorAnimation 2s;
}
@keyframes resplandorAnimation {
  0%,
  100% {
    box-shadow: 0px 0px 80px;
  }
  50% {
    box-shadow: 0px 0px 0px;
  }
}

.grogu1 {
  @include grogu;
  grid-column: 1/2;
  grid-row: 1/2;
}
.grogu2 {
  @include grogu;
  grid-column: 2/3;
  grid-row: 1/2;
}

.grogu3 {
  @include grogu;

  grid-column: 3/4;
  grid-row: 1/2;
}
.grogu4 {
  @include grogu;
  grid-column: 4/5;
  grid-row: 1/2;
}

.grogu5 {
  @include grogu;
  grid-column: 5/6;
  grid-row: 1/2;
}
.grogu6 {
  @include grogu;
  grid-column: 6/7;
  grid-row: 1/2;
}
.cesped {
  @include cesped;
}
.cesped1 {
  //margin-right: 20px;
  grid-column: 1/2;
  grid-row: 2/3;
}
.cesped2 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.cesped3 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.cesped4 {
  grid-column: 4/5;
  grid-row: 2/3;
}
.cesped5 {
  grid-column: 5/6;
  grid-row: 2/3;
}
.cesped6 {
  grid-column: 6/7;
  grid-row: 2/3;
}

.images_galletas {
  @include images;
  margin-left: 60px;
  margin-top: 200px;
  grid-column: 8/9;
  grid-row: 1/2;
}
.images_egg {
  @include images;
  margin-left: 60px;
  margin-top: -505px;
  grid-column: 8/9;
  grid-row: 3/4;
}
.images_frog {
  @include images;

  grid-column: 8/9;
  grid-row: 2/3;
  margin-top: -160px;

  margin-left: -100px;
}
.recipient1 {
  width: 150px;
  grid-column: 8/9;
  grid-row: 1/2;
  margin-top: 130px;
  margin-bottom: 0px;
  z-index: 1;
}
.recipient2 {
  display: flex;
  justify-content: center;
  width: 150px;
  margin-left: -150px;
  margin-top: -230px;
  grid-column: 8/9;
  grid-row: 2/3;
  z-index: 1;
}
.recipient3 {
  display: flex;
  justify-content: center;
  width: 150px;
  margin-top: -540px;

  grid-column: 8/9;
  grid-row: 3/4;
  z-index: 1;
}

.wardrobe {
  grid-column: 7/8;
  grid-row: 1/3;
  margin-left: -100px;
  width: 630px;
}

.hidden {
  visibility: hidden;
}
