@import "./core/mixins.scss";
@import "./core/variables.scss";

.background_layout {
  @include background;
}

.ul_layout {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  margin: 0px;
}
.button_layout {
  font-size: 90px;
  @include background_buttons;
}
.button_game {
  font-size: 90px;
  @include background_buttons;
}
.button_rules {
  font-size: 90px;
  @include background_buttons;
}
