@import "./core/mixins.scss";

.background_layout {
  @include background;
}

.ul_layout {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  margin: 0px;
}
.button_layout {
  @include background_buttons;
}
.button_game {
  @include background_buttons;
}
.button_rules {
  @include background_buttons;
}
.button_game:hover {
  @include shadow;
}
.button_layout:hover {
  @include shadow;
}
.button_rules:hover {
  @include shadow;
}
