@import "./core/mixins.scss";
@import "./core/variables.scss";

.background_layout {
  @include background;
}

.ul_layout {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  margin: 0px;
}
.button_layout {
  @include background_buttons;
}
.button_game {
  @include background_buttons;
}
.button_rules {
  @include background_buttons;
}
.button_game:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
.button_layout:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
.button_rules:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
