@import "./core/mixins.scss";
@import "./core/variables.scss";

.background_pieces {
  @include background;
  color: white;
  height: 100vh;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 60px;
}
h1 {
  font-size: 60px;
  margin: 20px;
  box-shadow: 0 0 30px 30px orange;
  background-color: rgb(74, 206, 211);
  @include underline;
}
.grass_pieces {
  width: 150px;
  height: 70px;
}
.wardrobe_pieces {
  width: 150px;
  height: 70px;
}
.recipient_pieces {
  width: 100px;
  height: 70px;
  margin-right: 50px;
}
.blue_cookie {
  width: 90px;
  height: 50px;
  margin-right: 50px;
}
.green_frog {
  width: 100px;
  height: 70px;
  margin-right: 50px;
}
.dice_pieces {
  width: 80px;
  height: 70px;
}
.grogu_pieces {
  width: 80px;
  height: 70px;
}
.arrow {
  @include arrow;
}
li {
  @include underline;
  margin: 20px;
}
