@import "./core/mixins.scss";
@import "./core/variables.scss";

.background_start {
  @include background;
}
.display {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.button_newGame {
  @include background_buttons;

  font-size: 100px;
}
